/* material-ui */
@import "node_modules/material-ui/src/less/scaffolding.less";

//Define a custom less file to override any variables defined in scaffolding.less
@import "custom-overrides.less";

@import "node_modules/material-ui/src/less/components.less";
@import "pose.less";

.no-highlighting {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@margin: 16px;

.pose-editor-button {
  margin: @margin;
  float: right;
}

#pose-editor {
  background-color: #eee;
  canvas {
    background-color: white;
  }
}

#preview {
    position: relative;
    display: inline-block;
    background-color: white;
    #play {
      position: absolute;
      top: @margin;
      right: @margin;
    }
    .mui-input {
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin-bottom: 0 !important;
    }
}



#complete {
  position: fixed;
  right: @margin;
  top: @margin;
}

#discard {
  position: fixed;
  left: @margin;
  top: @margin;
}


#page {
    max-width: 900px;
    margin: 24px auto;
    text-align: center;
    background-color: #eee;
    .mui-flat-button {
      background-color: inherit;
    }
}

canvas {
  display: block;
}

#frames {
  padding: @margin;
  .frame {
    float: left;
  }
  #push-frame-container {
    float: left;
    padding: 33px 53px;
  }
}

.clearfix:before{
  display:table;
  content:""
}
.clearfix:after{
  display:table;
  clear:both;
  content:""
}


.button-icon {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  float: none !important;
  padding-left: 0 !important;
  line-height: 36px !important;
}
